<h3>Cutom API by <span>Sree</span></h3>
    <p> Source Code:</p>
    <div id = "find">
        <a href="https://github.com/sree-chikati/noveltea-app" class="github" title="Github">
            <i class="fa fa-github fa-3x"></i>
        </a>
</div>