<ul class="navbar-nav ml-auto">

    {{#if currentUser}}
    <!-- Shows Profile -->
    <li class="nav-item">
        <a href="/profile">
            Profile
        </a>
    </li>

     <!-- Shows Profile -->
    <li class="nav-item">
        <a href="/search">
            Book Search
        </a>
    </li>

     <!-- Shows Posts -->
    <li class="nav-item">
        <a href="/posts">
            Posts
        </a>
    </li>

    <!-- Add New Post -->
    <li class="nav-item">
        <a href="/post/new">
            New Post
        </a>
    </li>
    <!-- Logout -->
    <li class="nav-item">
        <a href="/logout">
            Logout
        </a>
    </li>
    {{else}}
     <!-- View post Route -->
    <li class="nav-item">
        <a href="/about">
            About
        </a>
    </li>
    
    <!-- Login Route -->
    <li class="nav-item">
        <a href="/login">
            Login
        </a>
    </li>
    <!-- Signup Route -->
    <li class="nav-item">
        <a href="/sign-up">
            Sign Up
        </a>
    </li>
    {{/if}}
</ul>