<!-- MAIN CONTENT -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Noveltea</h1>
        <h4 class="py-4">Put things here!</h4>
      </div>
    </div>
  </div>
</section>

<!-- Three Column Section -->
<section id="services">
  <div class="container text-center">
    <h1 class="title">NOVELTEA</h1>
    <div class="row text-center">
  
      <div class="col-md-4 my-2 services">
        <img src=" " alt="" class="service-img w-75">
        <h4 class="my-4">Add</h4>
        <p>
          Add text here!!!
        </p>
      </div>
  
      <div class="col-md-4 my-2 services">
        <img src=" " alt="" class="service-img w-75">
        <h4 class="my-4">Something</h4>
        <p>
          Add text here!!!
        </p>
      </div>
  
      <div class="col-md-4 my-2 services">
        <img src=" " alt="" class="service-img w-75">
        <h4 class="my-4">Here</h4>
        <p>
          Add text here!!!
        </p>
      </div>
    </div>
    <a href=" " class="btn btn-primary btn-md">Get Started</a>
  </div>
</section>

<!-- End Three Column Section -->